@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

:root {
    --white_color: #F9FAF8;
    --squere: 150px
}

.container {
    max-width: 70%;
    margin: 0 auto;
}

.header {
    background-color: #1F2937;
}

.header_logo {
    font-size: 24px;
    color: var(--white_color);
    font-weight: bold;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.header_link {
   color: #d9dbe0; 
}

.header_links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.header_content {
    margin-top: 100px;
}

.header_title, .header_text {
    color: var(--white_color)
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 150px;
}

.image_holder {
    color: var(--white_color);
    background-color: #6d747d;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left_side {
    max-width: 30%;
}
.header_title {
    font-size: 50px;
    font-weight: 900;
}

.header_text {
    font-size: 18px;
    margin-bottom: 10px;
    color: #e5e7eb;
}

.sign_up_btn {
    background-color: #3b82f6;
    border: 0;
    color: var(--white_color);
    padding: 10px 40px;
    border-radius: 7px;
}

.info_img {
    width: var(--squere); 
    height: var(--squere); 
    border: 4px solid #3b82f6;
    border-radius: 15px;
}

.info_name {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.info_section_items {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}
.info_text {
    max-width: var(--squere);
    text-align: center;
    color: #4e5866;
    margin-top: 10px;
}
.ifno_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-container {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #E5E7EB;
    color: #1F2937;
}
.container_new {
    max-width: 50%;
    margin: 0 auto;
}
.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.author {
    text-align: right;
    font-size: 30px;
    font-weight: bold;
}

.action_container {
    background-color: #3b82f6;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 70px 130px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action_text {
    color: var(--white_color);
}

.action_call {
    background-color: #3b82f6;
    color: white;
    border: 3px solid white;
    padding: 10px 50px;
    border-radius: 10px;
}

.footer {
    height: 150px;
    background-color: #1f2937;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}